/* The box that holds everything */
.sidebar {
  width: 260px; 
  height: 100vh; 
  background-color: #ffffff;
  border-right: 1px solid #e2e8f0; 
  display: flex;
  flex-direction: column; 
  padding: 2rem;
  position: fixed; 
  left: 0;
  top: 0;
}

/*Profile Styling*/
.profile {
  margin-bottom: 3rem;
}

.avatar {
  width: 50px;
  height: 50px;
  background-color: #0f172a; /* Dark Blue */
  color: white;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.profile h3 {
  font-size: 1.2rem;
  margin-bottom: 0.2rem;
}

.profile p {
  color: #64748b; /* Grey text */
  font-size: 0.9rem;
}

/*Navigation Styling */
.nav-links {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex-grow: 1; 
}

.nav-item {
  display: flex;
  align-items: center;
  gap: 12px; 
  text-decoration: none;
  color: #64748b;
  padding: 12px;
  border-radius: 8px;
  font-weight: 500;
  transition: all 0.2s;
}

.nav-item:hover {
  background-color: #f1f5f9;
  color: #0f172a;
}

.nav-item.active {
  background-color: #0f172a;
  color: white;
}

/*Socials Styling */
.socials {
  display: flex;
  gap: 1rem;
  border-top: 1px solid #e2e8f0;
  padding-top: 1.5rem;
}

.social-icon {
  color: #64748b;
  transition: color 0.2s;
}

.social-icon:hover {
  color: #0f172a;
}